<table class="ui-calendar-date" data-role="date-column">
  <tr class="ui-calendar-day-column">
    {{#each day.items}}
    <th class="ui-calendar-day ui-calendar-day-{{value}}" data-role="day" data-value="{{value}}">{{_ label}}</th>
    {{/each}}
  </tr>
  {{#each date.items}}
  <tr class="ui-calendar-date-column">
    {{#each this}}
    <td class="ui-calendar-day-{{day}} {{className}} {{#unless available}}disabled-element{{/unless}}" data-role="date" data-value="{{value}}">{{label}}</td>
    {{/each}}
  </tr>
  {{/each}}
</table>
