<div class="ui-calendar-date">
  <ul class="ui-calendar-day-column">
    {{#each day.items}}
    <li class="ui-calendar-day ui-calendar-day-{{value}}" data-role="day" data-value="{{value}}">{{_ label}}</li>
    {{/each}}
  </ul>
  {{#each date.items}}
  <ul class="ui-calendar-date-column">
    {{#each this}}
    <li class="ui-calendar-day-{{day}} {{className}}
    {{#unless available}}disabled-element{{/unless}}
    "
    data-role="date" data-value="{{value}}"
    >{{label}}</li>
    {{/each}}
  </ul>
  {{/each}}
</div>
